<div class="image">
    <img border="0"  src="assets/img/dhobistation.png">   
</div>

<div class="text">
  <h2 style="color:red"><b>More Than Just Dry Cleaning</b></h2>  
  <h5>At The Dhobi Station, each garment is individually evaluated to determine the safest and most
     effective method of cleaning.</h5>
  <h5>For many high-end and delicate items, drycleaning is the best option to clean and restore them.</h5>
  <h5>However depending on the type of stain, and the material your clothing is made out of
     wetcleaning and handwashing are both excellent solutions.</h5>
  <h5>For optimal results, each piece is uniquely treated to remove a wide variety of stains,
     which include grease, lipstick, ink, blood, food, coffee, wine and even toothpaste!</h5>

</div>


  