<div class="servicesheading w3-animate-top" align="center">
  <h2 style="color:red"><b>Contact Us</b></h2>
  
  <hr width="50%">
   

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <i class="fa fa-map-marker"></i>
          <h4>ADDRESS</h4>
          <address>
            The Dhobi Station,Plot No.22,Aradhana Society,Behind Atithi Hotel,Cidco Aurangabad
          </address>
        </div>
        <div class="col-sm">
          <i class="fa fa-phone"></i>
          <h4>PHONE NUMBER</h4>
          <p>02402 474747</p>
        </div>
        <div class="col-sm">
          <i class="fa fa-mobile"></i>
          <h4>MOBILE NUMBER</h4>
          <p>+ 9378 474747</p>
        </div>
        <div class="col-sm">
          <i class="fa fa-envelope"></i>
          <h4>EMAIL</h4>
          <p>info@thedhobistation.com</p>
        </div>
      </div>
    </div>

    <div class="mymap">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
    

   </div>