<div class="howitworks" align="center">
  <h2 style="color:red"><b>OUR Services</b></h2>
  
  <hr width="50%">
  </div>
<div class="carousel">

</div>
  <carousel>
    <slide>
       <img class="img-main-carousel" align="center" src="assets/img/wet-cleaning.jpg" alt="first slide" style="display: block; width: 100%;" >
      <div class="carousel-caption d-none d-md-block">
         <h1 style="color:black"><b>Wet Cleaning</b></h1>
        
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/dry-cleaning.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="color:black"><b> Dry Cleaning</b></h1>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/spot-removal.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="color:black"><b>Spot Removal</b></h1>
        
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/steam-iron.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="color:black"><b>Steam Iron</b></h1>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/wash-dry-and-fold.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="color:black"><b>Wash Dry And Fold</b></h1>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/shoe-washing.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="color:black"><b>Shoe Washing</b></h1>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/helmet-washing.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="color:black"><b>Helmet Washing</b></h1>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/bag-washing.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="color:black"><b>Bag Washing</b></h1>
      </div>
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/delivery.png" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h1 style="color:black"><b>Free Pickup And Delivery</b></h1>
      </div>
    </slide>
  </carousel>

