<div class="howitworks" align="center">
  <h2 style="color:red"><b>HOW IT WORKS</b></h2>
  
  <hr width="50%">
  </div>

<div class="work">
  <div class="row">
    <div class="col w3-animate-left">
      <span class="ourwork">
        <img class="bike" src="assets/img/pickup.jpg" alt="first slide" style="display: block; width: 50%; height:200px">
        <h3><b>Pickup</b></h3>            
      </span>
      <div>
          <h5>Use our website & schedule your laundry pickup. dirty laundry sheets, pillowcases, t-shirts, underwear, socks, sweats, hoodies, athletic wear etc.</h5>
      </div>
    </div>


    <div class="col w3-animate-right">
      <span class="ourwork">
        <img class="track360" src="assets/img/cleaning.jpg" alt="first slide" style="display: block; width: 50%; height:200px">
        <h3><b>Cleaning</b></h3>
         
      </span>
      <div>
          <h5>Our Professional use the high end machines & Detergents to wash,dry and iron your laundry for best result</h5>
          
      </div>
    </div>

    <div class="w-100"></div>
    
    <div class="col w3-animate-left">
      <span class="ourwork">
        <img class="battery" src="assets/img/iron.jpg" alt="first slide" style="display: block; width: 50%; height:200px">
        <h3><b>Iron</b></h3>
        
      </span>
      <div>
          <h5>Our Professional use the high end machines & Detergents to wash,dry and iron your laundry for best result  </h5>
          
      </div>
    </div>

    <div class="col w3-animate-right">
      <span class="ourwork">
        <img class="bike" src="assets/img/delivery.jpg" alt="first slide" style="display: block; width: 50%; height:200px">
        <h3><b>Delivery</b></h3>            
      </span>
      <div>
          <h5>Based on your convenient time, we will deliver your cleaned cloths.</h5>
      </div>
    </div>
  </div>


</div>
 



  

