<div class="laundry w3-animate-top" style="background:url('./assets/img/laundry.jpg') no-repeat" align="center">
  <div class="info">
     <h2 style="color:red; width:1000px;"><b>Laundry At <span>Your Door Step</span></b></h2>
  </div>

  <div class="buttons">
     <a href="tel:02402474747" class="btn btn-warning">CALL US NOW</a>
     <a href="#portfolio" class="btn btn-primary">FREE PICKUP &amp; DROP</a>
  </div>

   
 </div>

 <div class="contact-info pull-left w3-animate-top">
     <i class="fa fa-envelope-o"></i><a href="#">info@thedhobistation.com </a>
     <i class="fa fa-phone"></i><a href="#">+ 02402  474747 </a>
     <i class="fa fa-mobile-phone"></i><a href="#">+ 9378  474747</a>
   </div>
   <div class="social-links pull-right">
     <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
     <a href="https://twitter.com/login?lang=en" class="fa fa-twitter"></a>
     <a href="https://www.google.com/" class="fa fa-google"></a>
     <a href="https://www.linkedin.com/start/join" class="fa fa-linkedin"></a>
     <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
   </div>
 